<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/copy.js')}}"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <title>Fast Copy</title>
</head>

<body>
    <textarea class="userinput" id='text' placeholder="Write or paste what you want to sync" rows="4" cols="100" maxlength="200" type="text" name="CopyText"></textarea>
    <!-- <span>&nbsp;</span> -->
    <p style='text-align:center;' class='preview'>Press Enter to submit and Shift+Enter to newline</p>
    <!-- <span>&nbsp;</span> -->
    <input type="button" id="pushbutton" class=' buttonModifier pushbutton ' value="Submit" onclick="posttext();document.getElementById('text').value = ' ';">
    <span>&nbsp;</span>
    <input type="button" class='buttonModifier pushbutton ' value="Refresh" onclick="refreshclipboard();">
    <p id='url'></p>
    <ul id="copylist"><span class='pinktext '>My Clipboard History</span></ul>
    <div id="hiddendiv"></div>
</body>

</html>