<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/copy.js')}}"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <title>Fast Copy</title>
</head>

<body>
    <textarea class="copyfield" id='text' rows="4" style='border:1px solid green' cols="100" maxlength="200" type="text" name="CopyText"></textarea>
    <input type="button" class='buttonModifier' style="margin:auto;display:block;" value="Push Text" onclick="posttext();document.getElementById('text').value = '';">
    <p style='text-align:center;font-family:verdana;color:hotpink;' id='url'></p>
    <ul id="copylist"><span style="font-size:30px;font-family:verdana;color:green;">Clipboard History</span></ul>
</body>

</html>